.faq {
    margin-top: 1rem;
    padding: 1rem;

    h1 + & {
        margin-top: 3rem;
    }
    &__question {
        font-weight: bold;
    }

    &__answer {
        margin: 1rem -1rem -1rem;
        background: rgba(#fff, 0.1);
        padding: 0.5rem 1rem;
        box-shadow: inset 0px 5px 5px #000;
    }
}